<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Hola Cabs</title>
    </head>
    <body>
        <h1>Bahar Se Bhola</h1>
        <p>
            This project is for educational purposes only.
        </p>
        <a href="{% url 'home:index' %}">Go Home!</a>
    </body>
</html>