<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Hola Cabs</title>
    </head>
    <body>
        <h1>Hola Cabs</h1>
        <p>
            Book a Ride
            <a href="{% url 'booking:ride-request' %}">Book</a>
            <a href="{% url 'booking:ride-request-api' %}">Book GET API</a>
        </p>
        <p>
            View Rides
            <a href="{% url 'booking:ride-index' %}">View</a>
        </p>
        <a href="{% url 'home:about' %}">About</a>
    </body>
</html>