<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Hola! Ride Request</title>
    </head>
    <body>
        <h1>Book a ride</h1>
        <p>Fill up the form below and click on the Request button</p>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Request</button>
        </form>
    <a href="/">Go Home!</a>
    </body>
</html>